<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796953336754-fksp3enh5avp7mt28t8vcj9k1o5jt1go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796953336754-fksp3enh5avp7mt28t8vcj9k1o5jt1go</string>
	<key>API_KEY</key>
	<string>AIzaSyDowOluIArGIkDhZarPnq3VpAG2k2dB4tU</string>
	<key>GCM_SENDER_ID</key>
	<string>796953336754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.votewiseiq</string>
	<key>PROJECT_ID</key>
	<string>votewise</string>
	<key>STORAGE_BUCKET</key>
	<string>votewise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796953336754:ios:f87e6817c7b531612da2ab</string>
</dict>
</plist>